<template>
  <main class="flex flex-col place-content-center items-center p-16 gap-8">
    <h1 class="text-5xl font-black">Number to English</h1>
    <RouterLink to="/test" class="flex gap-2 items-center text-xl font-semibold text-orange-950 bg-orange-100 border border-orange-300 p-4 shadow-sm hover:shadow-lg rounded transition-all hover:-translate-y-1">
      Go to Test
      <svg class="w-6 text-orange-950" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
      </svg>
    </RouterLink>
  </main>
</template>

