<script setup lang="ts">
  import { ref, watch } from "vue";
  import { IConversion, getNumberToEnglish, postNumberToEnglish } from "@/api";
  import Spinner from "@/components/Spinner.vue";

  const loading = ref<boolean>(false);
  const number = ref<number | undefined>();
  const instantConversion = ref<boolean>(true);
  const error = ref<string | undefined>();
  const english = ref<string>("");

  watch(number, async (updatedNumber) => {
    error.value = undefined;
    if (instantConversion.value && typeof updatedNumber === "number") {
      loading.value = true;
      try {
        const result = await getNumberToEnglish(updatedNumber);
        if (result && result.status === "ok") {
          english.value = result.number;
        }
      } catch (err) {
        if (err instanceof Error) {
            error.value = err.message;
            english.value = "";
        } else {
            error.value = "An unexpected error occurred";
            english.value = "";
        }
      } finally {
        loading.value = false;
      }
    }
  })

  const handleSubmit = async (event: Event) => {
    event.preventDefault();

    if (number.value && !loading.value) {
      loading.value = true;

      const data: IConversion = {
        "number": number.value
      }

      try {
        const result = await postNumberToEnglish(data)
        if (result) {
          english.value = result.number;
          loading.value = false;
        }
      } catch (err) {
        if (err instanceof Error) {
            error.value = err.message;
            english.value = "";
        } else {
            error.value = "An unexpected error occurred";
            english.value = "";
        }
      } finally {
        loading.value = false;
      }
    }
  }
</script>

<template>
  <main class="flex flex-col items-center place-content-center p-16">
    <h1 class="p-4 text-5xl font-black">Number to English</h1>
    <form class="p-2 flex gap-2 w-96" @submit="handleSubmit">
      <div class="flex flex-col gap-1">
        <input required autofocus v-model="number" name="number" type="number" min="-100000000000" max="100000000000" placeholder="Number" class="p-2 bg-slate-100 rounded border w-56" />
        <label class="flex items-center gap-2 text-gray-500 text-xs">
          <input type="checkbox" class="w-3 h-3" v-model="instantConversion"/>
          <abbr title="If enabled, conversions are instantly shown">Enable instant conversions</abbr>
        </label>
      </div>
      <div>
        <button class="p-2 flex items-center gap-1 bg-slate-100 text-slate-900 transition-colors rounded border shadow-sm hover:bg-slate-900 hover:text-slate-100" :disabled="loading">
          Convert
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg>
        </button>
      </div>
    </form>
    <div v-if="loading" class="p-8 text-center border">
      <Spinner />
    </div>
    <div v-else class="p-2 text-center flex items-center place-content-center">
      <div v-if="english" class="p-8 text-xl border">{{english}}</div>
      <div v-if="error" class="text-red-500">{{error}}</div>
    </div>
  </main>
</template>

